{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

{% url 'configurations:add_departments' as add_departments_url %}
{% url 'configurations:edit_departments' qs.id as edit_departments_url %}

<form class="edit-department-form" method="post" enctype="multipart/form-data" id="edit-department">
    {% csrf_token %}

    <!-- Edit Departments Div Buttons -->
    {% include 'configurations/departments/includes/buttons/div_buttons.html' %}
    <fieldset :disabled ="!isEdit">
        <section class="content" id="department">
            <div class="container-fluid">
                <div class="row">
                    <!-- Starting our template tab scenario -->
                    <div class="col-md-12">
                        <div class="card">

                            <!-- Edit Unit Name Tabs Buttons -->
                            {% include 'configurations/departments/includes/buttons/tabs_buttons.html' %}
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">

                                    <!-- Settings Tab -->
                                    <div class="tab-pane fade show clearfix" id="settings-tab" v-if="hideSettings" role="tabpanel" aria-labelledby="settings-tab">
                                        {% include 'configurations/departments/includes/edit_settings/edit_settings.html' %}
                                    </div>
                                    <!-- /.tab-pane -->

                                    <!-- Departments Tab -->
                                    <div class="active tab-pane fade show clearfix" id="departments" role="tabpanel" aria-labelledby="department-tab">
                                        {% include 'configurations/departments/includes/department_edit/department_edit.html' %}
                                    </div>
                                    <!-- /.tab-pane -->
                                
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->          
                </div>
            </div>
        </section>
    </fieldset>
</form>
<!-- /.form -->
{% endblock content %}

{% block javascripts %}

    <!-- Edit Unit Name Js -->
    {% include "configurations/departments/includes/department_edit/vueJs.html" %}


{% endblock javascripts %}
