{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}

{% url 'management:edit_wallet' qs.id as edit_wallet_url %}


<form class="" method="post" enctype="multipart/form-data" id="edit-wallet-form">
    {% csrf_token %}

    <!-- Edit Wallet Div Buttons -->
    {% include 'management/create_wallet/includes/buttons/div_buttons.html' %}
    <fieldset :disabled ="!isEdit">

        <section class="content" id="edit-wallet">
            <div class="container-fluid">
                <div class="row">
                    <!-- Starting our template tab scenario -->
                    <div class="col-md-12">
                        <div class="card">

                            <!-- Edit Wallet Tabs Buttons -->
                            {% include 'management/create_wallet/includes/buttons/tabs_buttons.html' %}

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">

                                    <!-- Wallet Tab -->
                                    <div class="active tab-pane fade show clearfix" id="wallet-tab" role="tabpanel" aria-labelledby="wallet-tab">
                                        {% include 'management/create_wallet/includes/edit_create_wallet/edit_wallet.html' %}
                                        

                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- Settings Tab -->
                                    <div class="tab-pane fade show clearfix" id="settings-tab" v-if="hideSettings" role="tabpanel" aria-labelledby="settings-tab">
                                        {% include 'management/create_wallet/includes/edit_settings/edit_settings.html' %}
                                    </div>
                                    <!-- /.tab-pane -->
                                
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->          
                </div>
            </div>
        </section>
    </fieldset>
</form>
<!-- /.form -->
{% endblock content %}

{% block javascripts %}

    <!-- Edit Wallet's Js -->
    {% include "management/create_wallet/includes/js/js.html" %}  
    {% include "management/create_wallet/includes/edit_create_wallet/vueJs.html" %}

{% endblock javascripts %}
