{% load static %}

<!-- jQuery -->
<script type="text/javascript" src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js.map' %}"></script> -->

<!-- Select2 -->
<script src="{% static 'dashboard/plugins/select2/js/select2.full.min.js' %}" defer></script>

<!-- <script type="text/javascript" src="{% static 'js/selectize/selectize.min.js' %}"></script> -->

<!-- New packages -->
<!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> -->

<script src="{% static 'dashboard/plugins/flot/jquery.flot.js' %}"></script>

<script src="{% static 'dashboard/plugins/flot/plugins/jquery.flot.resize.js' %}"></script>


<!-- <script src="{% static 'dashboard/plugins/flot/plugins/jquery.flot.pie.js' %}"></script> -->


<!-- scripts for VUE -->
<!-- https://unpkg.com/vue@3.2.41/dist/vue.global.js -->
<!-- <script src="{% static 'js/vue.global.min.js' %}"></script>
<script src="{% static 'js/vue.global.prod.js' %}"></script>
<script src="{% static 'js/vue.global.js' %}"></script> -->

<script type="module" src="{% static 'js/vue.esm-browser.js' %}"></script>
<!-- <script src="{% static 'js/axios.min.js' %}"></script> -->
<!-- <script src="{% static 'js/axios.min.js' %}"></script> -->


<!-- Bootstrap -->
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->



<!-- ## Files important for js data table -->
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}">
</script>

<!--  -->
<script src="{% static 'dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>

<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}">
</script>

<!-- SweetAlert2 -->
<script src="{% static 'dashboard/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'dashboard/plugins/toastr/toastr.min.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'dashboard/plugins/bootstrap-switch/js/bootstrap-switch.js' %}">
</script>

<!-- Bootstrap Switch -->
<!-- <script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script> -->
<script src="{% static 'dashboard/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}">
</script>

<script src="{% static 'dashboard/plugins/bootstrap-slider/bootstrap-slider.min.js' %}">
</script>
<!-- comment on charts -->
<!-- <script src="{% static 'dashboard/plugins/chart.js/Chart.min.js' %}"> -->
<!-- </script> -->
<!-- <script src="{% static 'dashboard/plugins/chart.js/Chart.js' %}">
</script> -->
<!-- <script src="{% static 'dashboard/plugins/uplot/uPlot.iife.min.js' %}">
</script> -->


<!-- Bootstrap 4 -->
<!-- <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->


<!-- Tempusdominus Bootstrap 4 -->
<!-- <script src="{% static 'dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script> -->

<!-- Bootstrap4 Duallistbox -->
<!-- <script src="{% static 'dashboard/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script> -->

<!-- InputMask -->
<!-- <script src="{% static 'dashboard/plugins/moment/moment.min.js' %}"></script> -->

<!-- InputMask -->
<!-- <script src="{% static 'dashboard/plugins/moment/moment.min.js' %}"></script> -->
<!-- <script src="(% static 'dashboard/plugins/inputmask/jquery.inputmask.min.js' %}"></script> -->

<!--* AdminLTE -->
<!-- <script src="{% static 'dashboard/dashboard_dist/js/adminlte.js' %}"></script> -->
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dashboard/dist/js/demo.js' %}"></script>


<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- <script src="{% static 'dashboard/dashboard_dist/js/pages/dashboard3.js' %}"></script> -->


<!-- Select2 -->
<!-- <script src="{% static 'dashboard/plugins/select2/js/select2.full.min.js' %}" defer></script> -->
<!-- <script src="{% static 'dashboard/plugins/select2/js/select2.min.js' %}" defer></script> -->

<!-- Select2 -->
<!-- <script src="{% static 'select2/js/bootstrap.bundle.min.js' %}"></script> -->
<!-- <script src="{% static 'select2/js/select2.min.js' %}" defer></script> -->

<!-- for select2 -->
<!-- <script type="text/javascript" href="{% static 'select2/4.0.8/js/select2.min.js' %}" defer></script> -->

<!-- for selectstyle -->
<!-- <script type="text/javascript" src="{% static 'js/selectstyle.js' %}" defer></script> -->

<script>
  $(function () {
    $('.select2').select2();
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function () {
      Toast.fire({
        icon: 'success',
        title: 'SWAL ipsum dolor sit SWAL, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultInfo').click(function () {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function () {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function () {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function () {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultSuccess').click(function () {
      toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultInfo').click(function () {
      toastr.info('I am toastr INFO, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function () {
      toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultWarning').click(function () {
      toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultTopLeft').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomRight').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomLeft').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultAutohide').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultNotFixed').click(function () {
      $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultFull').click(function () {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
      })
    });
    $('.toastsDefaultFullImage').click(function () {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
      })
    });
    $('.toastsDefaultSuccess').click(function () {
      $(document).Toasts('create', {
        class: 'bg-success',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultInfo').click(function () {
      $(document).Toasts('create', {
        class: 'bg-info',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultWarning').click(function () {
      $(document).Toasts('create', {
        class: 'bg-warning',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultDanger').click(function () {
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultMaroon').click(function () {
      $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
  });

</script>
<!--  -->