{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<!-- Page content -->
<div class="container-fluid mt--6" id="visaTable">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
        <!-- <div class="col-12"> -->
            {% include 'management/create_visa/includes/buttons/table_div_buttons.html' %}
        </div>
        <div class="col-xl-12 order-xl-2" v-show="showLog">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <form method="GET" action=".">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive p-0">
                                <table id="visa" class="table text-nowrap">
                                    <thead v-show="showLog">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Creator" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Created at" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "User of update" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Updated at" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Number" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Balance" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showLog">
                                        {% for obj in combined_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.user}}</td>
                                            <td style="height: 1px;">{{obj.created_at}}</td>
                                            <td style="height: 1px;">{{obj.updated_user}}</td>
                                            <td style="height: 1px;">{{obj.updated_at}}</td>
                                            <td style="height: 1px;">{{obj.visa_name}}</td>
                                            <td style="height: 1px;">{{obj.visa_no}}</td>
                                            <td style="height: 1px;">{{obj.total}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="{% url 'management:edit_visa' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>&nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End LOG TABLE -->

        <!-- START VISA TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showVisa">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <form method="GET" action=".">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive p-0">
                                <table id="visa-table" class="table text-nowrap">
                                    <thead v-show="showVisa">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Expire date" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Account" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Number" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Balance" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showVisa">
                                        {% for obj in table_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.expire_date}}</td>
                                            <td style="height: 1px;">{{obj.bank}}</td>
                                            <td style="height: 1px;">{{obj.account_no}}</td>
                                            <td style="height: 1px;">{{obj.visa_no}}</td>
                                            <td style="height: 1px;">{{obj.total}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="{% url 'management:edit_visa' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>&nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START DELEtE TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showDeleted">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="delete-visa" class="table text-nowrap">
                                    <thead v-show="showDeleted">
                                        <tr >
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "User of Deletion" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Deleted at" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showDeleted">
                                        {% for obj in deleted_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.updated_user}}</td>
                                            <td style="height: 1px;">{{obj.deleted_at}}</td>
                                            <td style="height: 1px;">{{obj.visa_name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'management:edit_visa' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you want to restore this record ?')">
                                                    <span class="fas fa-undo-alt"></span>
                                                </a>
                                                &nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END DELETED TABLE -->

        <!-- START INACTIVE TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="inActive">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="inactive-visa" class="table text-nowrap">
                                    <thead v-show="inActive">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Number" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Expire date" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Account" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="inActive">
                                        {% for obj in inactive_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.visa_name}}</td>
                                            <td style="height: 1px;">{{obj.visa_no}}</td>
                                            <td style="height: 1px;">{{obj.expire_date}}</td>
                                            <td style="height: 1px;">{{obj.bank}}</td>
                                            <td style="height: 1px;">{{obj.account_no}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="{% url 'management:edit_visa' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END INAACTIVE -->

        <!-- START MAIN TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showMain">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="main" class="table text-nowrap">
                                    <thead v-show="showMain">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Number" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Account" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Visa Balance" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Expire date" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showMain">
                                        {% for obj in main_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.visa_no}}</td>
                                            <td style="height: 1px;">{{obj.bank}}</td>
                                            <td style="height: 1px;">{{obj.account_no}}</td>
                                            <td style="height: 1px;">{{obj.total}}</td>
                                            <td style="height: 1px;">{{obj.expire_date}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="{% url 'management:edit_visa' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>&nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END INAACTIVE -->
    </div>
    <!-- ./END ROW -->
</div>
{% endblock content %}
{% block javascripts %}
<script>
    const { createApp, ref, computed } = Vue;
    const visaTable = createApp({
        delimiters:["[[", "]]"],
        setup() {
            const msg = 'What is going on Visa-PAGE ?';
            const title = 'VISAS SETTINGS ';
            return {
                msg, title,
            }
        },
        data() {
        return {
            showDiv:false,
            showTable:false,
            showLog:false,
            showVisa:false,
            showMain:false,
            showReport:false,
            showDeleted:false,
            inActive:false,
        };
    },
        computed:{

        },
        methods:{
            
        },
        mounted() {
            //LOG DATA TABLE
            $(function () {
                $("#visa").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#visa_wrapper .col-md-6:eq(0)');
        
            });


            // Visa DATA TABLE
            $(function () {
                $("#visa-table").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#visa-table_wrapper .col-md-6:eq(0)');
        
            });

        
            // DELETED DATA TABLE
            $(function () {
                $("#delete-visa").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#delete-visa_wrapper .col-md-6:eq(0)');
        
            });

            // DELETED DATA TABLE
            $(function () {
                $("#inactive-visa").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#inactive-visa_wrapper .col-md-6:eq(0)');
        
            });

            $(function () {
                $("#main").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#main_wrapper .col-md-6:eq(0)');
        
            });



        },

    });
    visaTable.mount("#visaTable")

    
</script>
{% endblock javascripts %}
