{% load static %}

<!--Fonts-->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet"> -->

<!-- Icons -->
<link rel="stylesheet" href="{% static 'vendor/fonts/materialdesignicons.css' %}" />


<!--Core CSS -->
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/core.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/theme-default.css' %}" />


<link rel="stylesheet" href="{% static 'css/demo.css' %}" />

<!--Vendor CSS-->
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />


<!-- FILES FOR ADMINLTE TEMPLATE -->
<!-- Files for js data table -->
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

<!-- SweetAlert2 OF ADMINLTE-->
<link rel="stylesheet" href="{% static 'dashboard/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
<!-- Toastr -->
<link rel="stylesheet" href="{% static 'dashboard/plugins/toastr/toastr.min.css' %}">


<!-- 
    IMportant Notes the next code for calendar from AdminLte cause the front end to go wrong so I comment the code 
-->
<!-- FOR CALENDAR ADMINLTE --> 
<!-- Google Font: Source Sans Pro -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> -->
<!-- Font Awesome -->
<!-- <link rel="stylesheet" href="{% static 'dashboard/plugins/fontawesome-free/css/all.min.css' %}"> -->
<!-- fullCalendar -->
<!-- <link rel="stylesheet" href="{% static 'dashboard/plugins/fullcalendar/main.css' %}"> -->
<!-- Theme style -->
<!-- <link rel="stylesheet" href="{% static 'dashboard/dist/css/adminlte.min.css' %}"> -->


<!-- <style>
    @media print {
        tfoot {
            display: table-row-group;
        }
    }
</style> -->
