


<!-- for vue 3 -->
<script>
    
    const { createApp, ref, computed } = Vue;

    const EditBankAccountForm = createApp ({
        delimiters:["[[", "]]"],
        setup() {
            const msg = 'What is going on edit-Bank-Account-PAGE ?';
            const title = 'BANK ACCOUNTS SETTINGS ';
            return {
                msg, title,
            }
        },
        data() {
            return {
                accountCode:'{{account_code}}',
                editBank: '{{form.bank.value}}',
                editAccountNo: '{{form.account_no.value}}',
                editBankBranch: '{{form.bank_branch.value}}',
                editTotal:'{{form.total.value}}',
                hideSettings: false,
                isActive:"{{form.active.value|yesno:'yeah,no,maybe'}}",
                isDeleted:"{{form.is_deleted.value|yesno:'yeah,no,maybe'}}",
                //isEdit: false,

            }
        },
        computed: {    
            isActiveChange() {
                if (this.isActive == 'yeah'){
                    this.isActive = true;
                } else if (this.isActive == true) {
                    this.isActive = "{{ form.active.value|yesno:'yeah,no,maybe' }}";
                    this.isActive = true;
                }else if(this.isActive == 'no'){
                    this.isActive = false;
                }else{
                    this.isActive = false;
                }
                return this.isActive;
                
            },

            isDeletedChanged() {
                if (this.isDeleted == 'yeah') {
                    this.isDeleted = true;
                } else if (this.isDeleted == 'no') {
                    this.isDeleted = false;
                } else if (this.isDeleted == true) {
                    this.isDeleted = "{{ form.is_deleted.value|yesno:'yeah,no,maybe' }}";
                    this.isDeleted = true;
                } else {
                    this.isDeleted = false;
                }
                return this.isDeleted;
            },

        },
        methods: {
            
            // next function works as expected here in methods not in computed
            openWindow(url) {
                var w = 480, 
                    h = 340;
                if (document.getElementById) {
                    w = screen.availWidth;
                    h = screen.availHeight;
                }

                var popW = 1300, //300,
                    popH = 700; //200;

                var leftPos = (w - popW) / 2;
                var topPos = (h - popH) / 2;

                msgWindow = window.open(url, 'popup', 'width=' + popW + ',height=' + popH +
                ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
                // alert('Clicked by Vue methods');

            },

        },

        mounted() {
            //here we can put jqueryb  code
            $(document).on('submit', '#edit-bank-account-form', function(e) {
                // let lastUnitName = '{{last_unit_name}}';
                let token = '{{csrf_token}}';
                let formData = new FormData($(this)[0])
                
                $.ajax({
                    type: 'POST',
                    url: '{% url "configurations:edit_bank_account" qs.id %}',
                    // data: {}, //{'my-form':$(this).serialize()},
                    cache: false,
                    contentType: false,
                    processData: false,
                    headers: {'X-CSRFToken': token},
                    data: formData,
                    success: function(data) {
                        // console.log('last-Unit-Name-FROM-AJAX:::', data.last_department_name);
                        // localStorage.setItem('last-unit-name', lastUnitName);
                        $(function() {
                            var Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 9000
                            });
                            var bankId = data['bank_id']; 
                            // var patch = 
                            
                            if (data['type'] == 'error'){
                                console.log(data['type'])
                                toastr.error(data['error']);
                            } else if (data['type'] == 'success') {
                                toastr.success(data['error']);
                                // console.log('PRO-ID: ', data['pro_id']);
                                setInterval('location.reload()', 100000000);
                                window.location.href = (
                                    "{% url 'configurations:edit_bank_account' qs.id %}"
                                    ).replace('0', unitId);
                                localStorage.setItem('last-department-name', data.last_department_name);
                                // window.location.href = 'products/add_product.html';
                                // window.location.pathname = '{% url "products:add_product" %}';
                                // localStorage.setItem('emp_id', empId);
                            } else if (data['type'] == 'info') {
                                toastr.info(data['error']);
                            }
                        });
                    },
                    error: function(){
                        console.log('ERROR FROM AJAX EDIT :')
                    },
                });
                e.preventDefault();
            });  
        },
    });
    EditBankAccountForm.mount('#edit-bank-account-form');

</script>