{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<!-- Page content -->
<div class="container-fluid mt--6" id="bankTable">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
        <!-- <div class="col-12"> -->
            {% include 'configurations/bank/includes/buttons/table_div_buttons.html' %}
        </div>
        <div class="col-xl-12 order-xl-2" v-show="showLog">
            <div class="card">

                <div class="card-header">
                    <div class="card-tools">
                        <!-- <form method="GET" action="."> -->
                    </div>
                    <!-- <hr> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body table-responsive p-0">
                                <table id="bank-log-table" class="table text-nowrap">
                                    <thead v-show="showLog">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Creator" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Created at" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "User of update" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Updated at" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showLog">
                                        {% for obj in combined_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.user}}</td>
                                            <td style="height: 1px;">{{obj.created_at}}</td>
                                            <td style="height: 1px;">{{obj.updated_user}}</td>
                                            <td style="height: 1px;">{{obj.updated_at}}</td>
                                            <td style="height: 1px;">{{obj.name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'configurations:edit_bank' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>
                                                &nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>
                                                &nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END LOG BANK TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showActive">
            <div class="card">

                <div class="card-header">
                    <div class="card-tools">
                        <!-- <form method="GET" action="."> -->
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div class="card-body table-responsive p-0">
                                <table id="bank-active-table" class="table text-nowrap">
                                    <thead v-show="showActive">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showActive">
                                        {% for obj in table_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'configurations:edit_bank' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>
                                                &nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>
                                                &nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- START DELEtE TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showDeleted">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="bank-delete-table" class="table text-nowrap">
                                    <thead v-show="showDeleted">
                                        <tr >
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "User of Deletion" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Deleted at" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showDeleted">
                                        {% for obj in deleted_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.updated_user}}</td>
                                            <td style="height: 1px;">{{obj.deleted_at}}</td>
                                            <td style="height: 1px;">{{obj.name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'configurations:edit_bank' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you want to retsore this record ?')">
                                                    <span class="fas fa-undo-alt"></span>
                                                </a>
                                                &nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END DELETED TABLE -->

        <!-- START MAIN TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="showMain">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="bank-main-table" class="table text-nowrap">
                                    <thead v-show="showMain">
                                        <tr >
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Code" %}</th>
                                            <!-- <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "User of Deletion" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Deleted at" %}</th> -->
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="showMain">
                                        {% for obj in main_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.code}}</td>
                                            <td style="height: 1px;">{{obj.name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'configurations:edit_bank' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <!-- <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you want to retsore this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>
                                                &nbsp; -->
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- START INACTIVE TABLE -->
        <div class="col-xl-12 order-xl-2" v-show="inActive">
            <div class="card">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                        
                            <div class="card-body table-responsive p-0">
                                <table id="bank-inactive-table" class="table text-nowrap">
                                    <thead v-show="inActive">
                                        <tr>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "ID" %}</th>
                                            <th  class="text-center bg-gradient-lightblue btn-xs">{% trans "Bank Name" %}</th>
                                            <th class="text-center bg-gradient-lightblue btn-xs">{% trans "Tools" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody v-show="inActive">
                                        {% for obj in inactive_qs %}
                                        <tr class="text-center">
                                            <td style="height: 1px;">{{obj.id}}</td>
                                            <td style="height: 1px;">{{obj.name}}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="{% url 'configurations:edit_bank' obj.id %}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure, you will delete this record ?')">
                                                    <span class="fas fa-trash-alt"></span>
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- ./END ROW -->
</div>
{% endblock content %}
{% block javascripts %}
<script>
    const { createApp, ref, computed } = Vue;
    const bankTable = createApp({
        delimiters:["[[", "]]"],
        setup() {
            const msg = 'What is going on Wallet-PAGE ?';
            const title = 'WALLETS SETTINGS ';
            return {
                msg, title,
            }
        },
        data() {
        return {
            showDiv:false,
            showTable:false,
            showLog:false,
            showActive:false,
            showDeleted:false,
            showMain:false,
            inActive:false,
            showReport:false,
        };
    },
        computed:{

        },
        methods:{
            
        },
        mounted() {
            let me = this;

            $(document).ready(function(){
                $(document).on('click', '.show-log, .show-deleted, .in-active, .is-active, .show-main', function(e){
                    console.log('sHOWLOGGGG', me.showLog)
                    console.log('sHOWDELETED', me.showDeleted)
                    //$('#main-bank').DataTable().destroy();
                    let type = true;
                    if (me.showLog == type) {
                        // If showLog is true, set it to false, showDeleted to false, and inActive to false
                        // me.showLog = false;
                        me.showActive = false;
                        me.showDeleted = false;
                        me.showMain = false;
                        me.inActive = false;
                        console.log("SHOW LOG TRUE", me.showLog);
                    } else if (me.showDeleted == type) {
                        // If showDeleted is true, set it to false, showLog to false, and inActive to false
                        me.showLog = false;
                        me.showActive = false;
                        // me.showDeleted = false;
                        me.showMain = false;
                        me.inActive = false;
                        console.log("SHOW LOG FALSEE", me.showLog);
                    } else if (me.inActive == type) {
                        // If inActive is true, set showLog and showDeleted to false
                        me.showLog = false;
                        me.showActive = false;
                        me.showDeleted = false;
                        me.showMain = false;

                        console.log("inActive TRUE");
                    } else if (me.showActive === true){
                        me.showLog = false;
                        me.inActive = false;
                        me.showDeleted = false;
                        me.showMain = false;
                        console.log("ACTIVE TRUE")

                    } else if (me.showMain == true){
                        me.showLog = false;
                        me.inActive = false;
                        me.showDeleted = false;
                        me.showActive = false;
                        console.log("Main TRUE")
                    }

                    $.ajax({
                        type: 'GET',
                        url: '{% url "configurations:bank_table" %}',
                        data: {
                            'type': type,
                            'show-log': me.showLog,
                            'show-deleted': me.showDeleted,
                            'in-active':me.inActive,
                            'is-active':me.showActive,
                            'show-main':me.showMain,
                        },
                        success: function(data) {
                            // Your success handling code...
                            let switchStatus = (label) =>{
                                if(label === true){
                                    return '<i class="badge bg-gradient-green">Active</i>';
                                }
                                return '<i class="badge bg-gradient-secondary">Inactive</i>';

                            };
                            if (me.showMain){

                                let mainList = data['main-list'];
                                
                                $("#bank-main-table").DataTable().destroy();
                                $("#bank-main-table tbody").empty();  // Clear existing rows
                                mainList.forEach((obj, index, array) => {
                                    let edit_url = "{% url 'configurations:edit_bank' id=0 %}".replace("0", `${obj.id}`)
                                    let del_url = "{% url 'switch_delete' id=0 app_name='configurations' model='Bank' %}".replace("0", `${obj.id}`)

                                    $("#bank-main-table tbody").append(`
                                        <tr class="text-center">
                                            <td style="height: 1px;">${obj.id}</td>
                                            <td style="height: 1px;">${obj.code}</td>
                                            <td style="height: 1px;">${obj.name}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="${edit_url}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span> 
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>&nbsp;
                                            </td>
                                        </tr>
                                    `)
                                });

                                let mainTable = $("#bank-main-table").DataTable({
                                    // dom: 'Bfrtip',
                                    // paging: true,
                                    // searching: true,
                                    ordering: true,
                                    order: [[0, "desc"]],
                                    pagingType: 'full_numbers',
                                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                                    "pageLength": 5,
                                    "responsive": true,
                                    "lengthChange": false,
                                    "autoWidth": false,
                                    "buttons": [
                                        {
                                            extend: 'print',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'excel',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: "colvis",
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                            ,
                                    ],
                                }).buttons().container().appendTo('#bank-main-table_wrapper .col-md-6:eq(0)');
                            }
                            else if(me.showActive){
                                let activeList = data['active-list'];

                                $("#bank-active-table").DataTable().destroy();
                                $("#bank-active-table tbody").empty();  // Clear existing rows
                                activeList.forEach((obj, index, array) => {

                                    let edit_url = "{% url 'configurations:edit_bank' id=0 %}".replace("0", `${obj.id}`)
                                    let del_url = "{% url 'switch_delete' id=0 app_name='configurations' model='Bank' %}".replace("0", `${obj.id}`)

                                    $("#bank-active-table tbody").append(`
                                        <tr class="text-center">
                                            <td style="height: 1px;">${obj.id}</td>
                                            <td style="height: 1px;">${obj.code}</td>
                                            <td style="height: 1px;">${obj.name}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="${edit_url}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span> 
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>&nbsp;
                                            </td>
                                        </tr>
                                    `)
                                });

                                $("#bank-active-table").DataTable({
                                    // dom: 'Bfrtip',
                                    // paging: true,
                                    // searching: true,
                                    ordering: true,
                                    order: [[0, "desc"]],
                                    pagingType: 'full_numbers',
                                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                                    "pageLength": 5,
                                    "responsive": true,
                                    "lengthChange": false,
                                    "autoWidth": false,
                                    "buttons": [
                                        {
                                            extend: 'print',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'excel',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: "colvis",
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                            ,
                                    ],
                                }).buttons().container().appendTo('#bank-active-table_wrapper .col-md-6:eq(0)');
                            }

                            else if (me.showLog){

                                let logList = data['log-list'];

                                $("#log-table").DataTable().destroy();
                                $("#log-table tbody").empty();  // Clear existing rows
                                logList.forEach((obj, index, array) => {

                                    let edit_url = "{% url 'configurations:edit_bank' id=0 %}".replace("0", `${obj.id}`)
                                    let del_url = "{% url 'switch_delete' id=0 app_name='configurations' model='Bank' %}".replace("0", `${obj.id}`)

                                    $("#bank-log-table tbody").append(`
                                        <tr class="text-center">
                                            <td style="height: 1px;">${obj.id}</td>
                                            <td style="height: 1px;">${obj.code}</td>
                                            <td style="height: 1px;">${obj.user__username}</td>
                                            <td style="height: 1px;">${obj.created_at}</td>
                                            <td style="height: 1px;">${obj.updated_user__username}</td>
                                            <td style="height: 1px;">${obj.updated_at}</td>
                                            <td style="height: 1px;">${obj.name}</td>
                                            <td class="text-center" style="height: 1px;">
                                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="return confirm('Are you sure, you will print this record ?')">
                                                    <span class="fas fa-print"></span>
                                                </a>&nbsp;
                                                <a href="${edit_url}" class="btn btn-outline-success btn-sm">
                                                    <span class="fas fa-edit"></span> 
                                                </a>&nbsp;
                                                <a href="#" class="btn btn-outline-info btn-sm">
                                                    <span class="fas fa-eye"></span>
                                                </a>&nbsp;
                                            </td>
                                        </tr>
                                    `)
                                });
                                // FOR getting the version 
                                versionNo = $.fn.dataTable.version;
                                console.log('VERSION:::-->>> ', versionNo);
                                // Initialize the Datatable again
                                // $("#main-bank").DataTable();
                                $("#bank-log-table").DataTable({
                                    // dom: 'Bfrtip',
                                    // paging: true,
                                    // searching: true,
                                    ordering: true,
                                    order: [[0, "desc"]],
                                    pagingType: 'full_numbers',
                                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                                    "pageLength": 5,
                                    "responsive": true,
                                    "lengthChange": false,
                                    "autoWidth": false,
                                    "buttons": [
                                        {
                                            extend: 'print',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'excel',
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: "colvis",
                                            className:'bg-gradient-lightblue btn btn-sm',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                            ,
                                    ],
                                }).buttons().container().appendTo('#bank-log-table_wrapper .col-md-6:eq(0)');
                            }

                        },
                        error: function() {
                            // Your error handling code...
                        }
                    });
                    e.preventDefault();
                });
            });

        },

    });







            //LOG DATA TABLE
            /*$(function () {
                $("#bank-log-table").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#bank-log-table_wrapper .col-md-6:eq(0)');
        
            });


            // BANK DATA TABLE
            $(function () {
                $("#bank-table").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#bank-table_wrapper .col-md-6:eq(0)');
        
            });

        
            // DELETED DATA TABLE
            $(function () {
                $("#delete-bank").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#delete-bank_wrapper .col-md-6:eq(0)');
        
            });

            // DELETED DATA TABLE
            $(function () {
                $("#inactive-bank").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#inactive-bank_wrapper .col-md-6:eq(0)');
        
            });

            $(function () {
                $("#main-bank").DataTable({
                    // dom: 'Bfrtip',
                    // paging: true,
                    // searching: true,
                    ordering: true,
                    order: [[0, "desc"]],
                    pagingType: 'full_numbers',
                    // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "pageLength": 5,
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'print',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: "colvis",
                            className:'bg-gradient-lightblue btn btn-sm',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                            ,
                    ],
                }).buttons().container().appendTo('#main-bank_wrapper .col-md-6:eq(0)');
        
            });*/






        //},

    //});
    bankTable.mount("#bankTable")

    
</script>
{% endblock javascripts %}

    <!-- <section class="content" id="add-category">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        {% include 'categories/new_category/includes/buttons/table_tabs_buttons.html' %}

                        <div class="card-body">
                            <div class="tab-content">

                                <div class="active tab-pane fade show clearfix" id="table-tab" role="tabpanel" aria-labelledby="table-tab">
                                    {% include 'categories/new_category/includes/table/category_table.html' %}
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section> -->