{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

{% url 'configurations:edit_bank' qs.id as edit_bank_url %}
{% url 'configurations:add_bank'  as add_bank_url %}


<form class="" method="post" enctype="multipart/form-data" id="edit-bank-form">
    {% csrf_token %}

    <!-- Edit Bank Div Buttons -->
    {% include 'configurations/bank/includes/buttons/div_buttons.html' %}
    <fieldset :disabled ="!isEdit">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- Starting our template tab scenario -->
                    <div class="col-md-12">
                        <div class="card">

                            <!-- Edit Bank Tabs Buttons -->
                            {% include 'configurations/bank/includes/buttons/tabs_buttons.html' %}

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">

                                    <!-- Bank Tab -->
                                    <div class="active tab-pane fade show clearfix" id="bank-tab" role="tabpanel" aria-labelledby="bank-tab">
                                        {% include 'configurations/bank/includes/edit_bank/edit_bank.html' %}
                                        

                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- Settings Tab -->
                                    <div class="tab-pane fade show clearfix" id="settings-tab" v-if="hideSettings" role="tabpanel" aria-labelledby="settings-tab">
                                        {% include 'configurations/bank/includes/edit_settings/edit_settings.html' %}
                                    </div>
                                    <!-- /.tab-pane -->
                                
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->          
                </div>
            </div>
        </section>
    </fieldset>
</form>
<!-- /.form -->
{% endblock content %}

{% block javascripts %}

    <!-- Edit Banks Js -->
    {% include "configurations/bank/includes/js/js.html" %}  
    {% include "configurations/bank/includes/edit_bank/vueJs.html" %}
    

{% endblock javascripts %}
