<!-- FOR DAY RESERVATION -->
<!-- <div class="row" v-if="showDay"> -->
<div class="col-md-6 col-xl-4">
    <div class="card shadow-none border border-primary border-2 mb-3">
        <!-- shadow-none bg-transparent border border-primary -->
        <div class="card-body">
            <h5 class="card-title">Patient Name: His Name</h5>
            <div class="card-text text-dark">
                <b class="text-primary">Patient Name: </b>His Name<br>
                <!-- <i class="badge bg-primary rounded-pill"></i> -->
                <b class="text-primary">Reservation Time:</b> 6.00 pm to 6.15 pm<br>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="javascript:void(0)" class="card-link btn btn-dark btn-xs rounded-pill mb-3">
                <i class="mdi mdi-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-account-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-danger btn-xs rounded-pill mb-3">
                <i class="mdi mdi-eye mdi-1px lh-0"></i>
            </a>
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-4">
    <div class="card shadow-none border border-primary mb-3">
        <!-- shadow-none bg-transparent border border-primary -->
        <div class="card-body">
            <h5 class="card-title">Patient Name: His Name</h5>
            <div class="card-text">
                <!-- <i class="badge bg-primary rounded-pill">Patient Name</i>: His Name<br>
                        <i class="badge bg-primary rounded-pill">Reservation Time</i>: 6.00 pm to 6.15
                        pm<br> -->
                <b>Patient Name:</b> <i class="badge bg-primary rounded-pill">His Name</i><br>
                <b>Reservation Time:</b> <i class="badge bg-primary rounded-pill"> 6.00 pm to 6.15
                    pm</i><br>
            </div>
        </div>
        <div class="card-footer">
            <a href="javascript:void(0)" class="card-link btn btn-outline-dark btn-xs rounded-pill mb-3">
                <i class="mdi mdi-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-account-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-eye mdi-1px lh-0"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card shadow-none border border-primary mb-3">
        <!-- shadow-none bg-transparent border border-primary -->
        <div class="card-body">
            <h5 class="card-title">Patient Name: His Name</h5>
            <div class="card-text">
                <!-- <i class="badge bg-primary rounded-pill">Patient Name</i>: His Name<br>
                        <i class="badge bg-primary rounded-pill">Reservation Time</i>: 6.00 pm to 6.15
                        pm<br> -->
                <b>Patient Name:</b> <i class="badge bg-primary rounded-pill">His Name</i><br>
                <b>Reservation Time:</b> <i class="badge bg-primary rounded-pill"> 6.00 pm to 6.15
                    pm</i><br>
            </div>
        </div>
        <div class="card-footer">
            <a href="javascript:void(0)" class="card-link btn btn-outline-dark btn-xs rounded-pill mb-3">
                <i class="mdi mdi-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-account-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-eye mdi-1px lh-0"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card shadow-none border border-primary mb-3">
        <!-- shadow-none bg-transparent border border-primary -->
        <div class="card-body">
            <h5 class="card-title">Patient Name: His Name</h5>
            <div class="card-text">
                <!-- <i class="badge bg-primary rounded-pill">Patient Name</i>: His Name<br>
                        <i class="badge bg-primary rounded-pill">Reservation Time</i>: 6.00 pm to 6.15
                        pm<br> -->
                <b>Patient Name:</b> <i class="badge bg-primary rounded-pill">His Name</i><br>
                <b>Reservation Time:</b> <i class="badge bg-primary rounded-pill"> 6.00 pm to 6.15
                    pm</i><br>
            </div>
        </div>
        <div class="card-footer">
            <a href="javascript:void(0)" class="card-link btn btn-outline-dark btn-xs rounded-pill mb-3">
                <i class="mdi mdi-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-account-plus mdi-1px lh-0"></i>
            </a>
            <a href="javascript:void(0)" class="card-link btn btn-outline-info btn-xs rounded-pill mb-3">
                <i class="mdi mdi-eye mdi-1px lh-0"></i>
            </a>
        </div>
    </div>
</div>
<!-- <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up.
                    </p>
                </div>
            </div>
        </div> -->

<!-- </div> -->