


<!-- for vue 3 -->
<script>
    
    const { createApp, ref, computed } = Vue;

    const departmentForm = createApp ({
        delimiters:["[[", "]]"],
        setup() {
            const msg = 'What is going on Departments-PAGE ?';
            const title = 'DEPARTmENTSS SETTINGS ';
            return {
                msg, title,
            }
        },
        data() {
            return {
                name: '',
                description:'',
                editName: '{{form.name.value}}',
                editDescription: '{{form.description.value}}',
                isEdit: false,
                hideSettings:false,
                hideDep:false,
                isActive:false,
                isDeleted:false,

            }
        },
        computed: {    
            
        },
        methods: {
            
            // next function works as expected here in methods not in computed
            // openWindow(url) {
            //     var w = 480, 
            //         h = 340;
            //     if (document.getElementById) {
            //         w = screen.availWidth;
            //         h = screen.availHeight;
            //     }

            //     var popW = 1300, //300,
            //         popH = 700; //200;

            //     var leftPos = (w - popW) / 2;
            //     var topPos = (h - popH) / 2;

            //     msgWindow = window.open(url, 'popup', 'width=' + popW + ',height=' + popH +
            //     ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
            //     // alert('Clicked by Vue methods');

            // },

        },

        mounted() {
            //here we can put jqueryb  code
            $(document).on('submit', '#departments-form', function(e) {
                let token = '{{csrf_token}}';
                $.ajax({
                    type: 'POST',
                    url: '{% url "configurations:add_departments"  %}',
                    cache: false,
                    headers: {'X-CSRFToken': token},
                    data: $(this).serialize(),
                    success: function(data) {
                        $(function() {
                            var Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 9000
                            });
                            var departmentId = data['department_id']; 
                            var departmentName = data['department_name'];
                            if (data['type'] == 'error'){
                                console.log(data['type'])
                                toastr.error(data['error']);
                            } else if (data['type'] == 'success') {
                                toastr.success(data['error']);
                                window.location.href = (
                                    "{% url 'configurations:edit_departments' id=0  %}"
                                    ).replace('0', departmentId);
                                window.opener.updateParentDropdown(departmentId, departmentName,'department');
                                setInterval('location.reload()', 100000000);
                                localStorage.setItem('last-department-name', data.last_department_name);
                            } else if (data['type'] == 'info') {
                                toastr.info(data['error']);
                            }
                        });
                    },
                    error: function(){
                        console.log('ERROR FROM AJAX ADD :')
                    },
                });
                e.preventDefault();
            });  
        },
    });
    departmentForm.mount('#departments-form');

</script>